@use "../../styles/variables" as *;

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $header-height;
}

.logo {
  flex-shrink: 0;
}

.cart {
  flex-shrink: 0;
}
