@use "../../styles/variables" as *;

.searchBar {
  margin-block-start: $spacing-2xl;
  margin-block-end: $spacing-2xl;
}

.inputWrapper {
  flex: 1;
  min-width: 12rem;
}

.results {
  flex-shrink: 0;
  color: $color-foreground;
  margin-top: $spacing-md;
  font-size: $font-size-base;
}
