@use "../../styles/variables" as *;

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.count {
  color: $color-foreground;
  font-size: $font-size-lg;
  margin-left: $spacing-xs;
}
