@use "../../../styles/variables" as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;

  &.sizeSmall {
    max-width: $container-max-width-sm;
  }
}
