// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1720px;

// Typography
$font-family-base: Helvetica, Arial, sans-serif;

// Font sizes
$font-size-sm: 0.625rem; // 10px
$font-size-base: 0.75rem; // 12px
$font-size-md: clamp(0.75rem, 0.2vw + 0.7rem, 0.875rem); // 14px
$font-size-lg: 1rem; // 16px
$font-size-xl: clamp(1rem, 0.5vw + 0.9rem, 1.125rem); // 18px
$font-size-2xl: clamp(0.875rem, 0.5vw + 0.8rem, 1.25rem); // 20px
$font-size-3xl: clamp(1.25rem, 0.7vw + 1rem, 1.5rem); // 24px

$font-weight-base: 300;

// Line height
$line-height-tight: 1.2;
$line-height-snug: 1.3;
$line-height-base: 1.5;

// Spacing
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-md: 1rem; // 16px
$spacing-lg: 1.5rem; // 24px
$spacing-xl: 2rem; // 32px
$spacing-2xl: 3rem; // 48px

// Layout / Container
$container-max-width: $breakpoint-xl;
$container-max-width-sm: $breakpoint-lg;
$container-padding-x: 5.2%;

// Color
$color-background: #ffffff;
$color-foreground: #000000;
$color-border: #000000;
$color-primary: #1b1a18;
$color-muted: #79736d;
$color-placeholder: #aaaaaa;
$color-error: #df0000;
$color-light-gray: #cccccc;

// Border
$border: 0.5px solid $color-border;
$border-thickness: 0.5px;

// Button
$button-background: $color-foreground;
$button-background-disabled: #f3f2f2;
$button-text-disabled: #c2bfbc;

//Header
$header-height: 80px;
